:root{
  --color-primary: #34c94b;
  --color-black: black;
  --color-white: white;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

*{
  margin: 10;
}

html, body {
height: 100%;
}

body {

font-family: "Poppins", sans-serif;
background-color: var(--color-black);
-webkit-font-smoothing: antialiased;
line-height: 1.5;
color: var(--color-white);
}

.swiper-slide{
   width: auto !important;
}

img, 
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select{
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  overflow-wrap: break-word;
}
#root,
#_next{
  isolation: isolate;
}



